extends layouts/main

block head_end
  link(rel="stylesheet" href="/assets/css/main.min.css")

block content
  .page__container
    nav.sidebar
      .sidebar--sticky
        | {{ SIDEBAR }}
    main.main(role='main')
      | {{ CONTENT }}
  footer.footer

block body_end
  script(type="text/javascript" src="/assets/js/main.min.js")
