extends layouts/main

block head_end
  link(rel="stylesheet" href="/assets/css/main.min.css")

block content
  .page__container
    aside.sidebar
      .sidebar--sticky
        nav
          h3.nav__header menu
          ul.nav__menu
            li.nav__item.nav__item--active
              a.nav__link(href='#') item 1
            li.nav__item
              a.nav__link(href='#') item 2
            li.nav__item
              a.nav__link(href='#') item 3
    main.main(role='main')
      h1 documentation
      include components/lorem-ipsum
      pre
        code.language-css p { color: red }
      h2 second header
      include components/lorem-ipsum
      h2 third header
      include components/lorem-ipsum
  footer.footer

block body_end
  script(type="text/javascript" src="/assets/js/prismjs.js")
  script(type="text/javascript" src="/assets/js/main.min.js")
