extends layouts/main

block head_end
  // Favicons
  include components/favicon
  link(rel="stylesheet" href="./assets/css/main.min.css")

block content
  .page__container
    aside.sidebar
      .sidebar--sticky
        nav
          +navMenu('menu')
    main.main(role='main')
      +mainContent()
        h1 documentation
        include components/lorem-ipsum
        pre
          code.language-css p { color: red }
        h2 second header
        include components/lorem-ipsum
        h2 third header
        include components/lorem-ipsum
  footer.footer

block body_end
  script(src="./assets/js/prismjs.js")
  script(src="./assets/js/main.js")
