extends layouts/main

block head_end
  link(rel="stylesheet" href="/assets/css/main.min.css")

block content
  .page__container
    aside.sidebar
      .sidebar--sticky
        nav
          h3.nav__header menu
          ul.nav__menu
            li.nav__item.nav__item--active
              a.nav__link(href='#') item 1
            li.nav__item
              a.nav__link(href='#') item 2
            li.nav__item
              a.nav__link(href='#') item 3
    main.main(role='main')
      h1 documentation
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        | laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        | ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
        | hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
        | eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
        | feugait nulla facilisi.
      pre
        code.language-css p { color: red }
  footer.footer

block body_end
  script(type="text/javascript" src="/assets/js/prismjs.js")
  script(type="text/javascript" src="/assets/js/main.min.js")
