// Favicons
link(rel="shortcut icon" type="image/ico" href="./assets/img/icons/favicon.ico")
link(rel="apple-touch-icon" sizes="144x144" href="./assets/img/icons/favicon-144x144.png")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content="./assets/img/icons/favicon-mstile-144x144.png")
